@charset "UTF-8";

@font-face
{
	font-family: 'Open sans';
	src: url('/assets/fonts/OpenSans/OpenSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Open sans';
	src: url('/assets/fonts/OpenSans/OpenSans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face
{
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto/Roboto-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

body
{
	background: #f1f1f1;
	font-family: 'Arial';
}

a,
a:visited,
a:hover,
a:active
{
	color: #365899;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

.m-header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: #7100ab;
	color: #fff;
}

.m-header .m-title
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 49px 0;
	font-family: 'Open sans';
	font-size: 75px;
	transform: translateY(-200%);
	text-align: center;
	cursor: pointer;
}

.m-header .m-title i
{
	font-style: italic;
}

.m-header canvas
{
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.m-wrapper
{
	width: 97.5%;
	margin: 220px 1.25% 0 1.25%;
}

.m-wrapper div,
.m-wrapper footer
{
	width: 97.5%;
	margin-bottom: 20px;
	padding: 15px 1.25%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
}

.m-wrapper div div
{
	width: auto;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
}

.m-arr .m-title
{
	display: table;
	font-family: 'Open sans';
	font-size: 36px;
	margin: 0 auto;
}

.m-arr .m-sub-title
{
	display: table;
	font-family: 'Open sans';
	font-size: 26px;
	margin: 0 auto;
}

.m-arr .m-copy
{
	display: table;
	font-family: 'Open sans';
	font-size: 20px;
	margin: 0 auto;
}

.m-arr .content
{
	display: table;
	font-family: 'Open sans';
	font-size: 16px;
}

.m-arr .content.centered
{
	margin: 0 auto;
}

.m-arr .content article
{
	display: table;
	font-family: 'Open sans';
	font-size: 16px;
	margin-bottom: 10px;
}

.m-arr .content article .title
{
	font-size: 18px;
}

.m-arr .content article pre
{
	width: 724px;
	max-height: 400px;
	margin: 5px 0;
	padding: 10px 1.25%;
	border: 1px solid #666;
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow-y: auto;
	overflow-x: hidden;
}

.m-arr .content article p
{
	margin: 0 0 5px 0;
}

.m-game
{
	min-height: 100px;
	transform: scale(0);
	transition: transform ease 1s;
}

.m-game[data-mgame="visible"]
{
	transform: scale(1);
}

.m-game div
{
	width: auto;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
}

.m-game canvas
{
	width: 100%;
	height: 100%;
}

.m-game .trivia-result
{
	display: block;
	height: 40px;
	padding: 10px;
	font-family: 'Open sans';
	font-size: 25px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 10px;
	transform: scale(1);
	transition: transform ease .25s;
}

.m-game .trivia-result[data-mgame="hidden"]
{
	transform: scale(0);
}

.m-game .trivia-result.correct
{
	background: #e2f9e5;
	color: #666;
}

.m-game .trivia-result.wrong
{
	background: #df3e3e;
	color: #fff;
}

.m-game .trivia
{
	display: table;
	min-width: 10px;
	max-width: 600px;
	margin: 0 auto;
}

.m-game .trivia .question
{
	font-family: 'Open sans';
	font-size: 18px;
}

.m-game .trivia .answers .answer
{
	font-family: 'Open sans';
}

.m-game .trivia .question blockquote
{
	display: block;
	width: 95%;
	max-height: 300px;
	font-family: 'Times new roman';
	font-size: 16px;
	background: #f1f1f1;
	color: #666;
	border-left: 5px solid #ccc;
	margin: 5px 0;
	padding: 10px 0 10px 5%;
	overflow: auto;
}

.m-game .trivia .answers .answer
{
	display: block;
	font-family: 'Open sans';
	font-size: 16px;
	padding: 5px 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.m-game .trivia .answers .answer .label
{
	display: inline-block;
	height: 22px;
	vertical-align: middle;
	cursor: default;
}

.m-game .trivia .answers .answer .radio
{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	cursor: pointer;
}

.m-game .trivia .answers .answer .radio .outer-circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #666;
}

.m-game .trivia .answers .answer .radio.checked:not(.disabled) .outer-circle
{
	border-color: #7100ab;
}

.m-game .trivia .answers .answer .radio .inner-circle
{
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	border: 5px solid #666;
	transform: translateX(-50%) translateY(-50%) scale(0);
	transition: transform ease .25s;
}

.m-game .trivia .answers .answer .radio.checked:not(.disabled) .inner-circle
{
	transform: translateX(-50%) translateY(-50%) scale(1);
}

.m-game .trivia .answers .answer .radio.checked:not(.disabled) .inner-circle
{
	border-color: #7100ab;
}

.m-game .trivia .answers .answer i
{
	font-style: italic;
}

.m-game .trivia .submit .m-btn
{
	display: table;
	margin: 0 auto;
	transform: scale(0);
	transition: transform ease .25s;
}

.m-game .trivia .submit .m-btn[data-mgame="visible"]
{
	transform: scale(1);
}

.m-footer
{
	margin: 0 !important;
	text-align: center;
	color: #666;
}

.m-footer a,
.m-footer a:visited
{
	color: #666;
	text-decoration: underline;
}

.m-footer a:hover,
.m-footer a:active
{
	text-decoration: none;
}

.m-footer a:active
{
	color: #333;
}

.m-footer .m-title,
.m-footer .m-title i
{
	font-family: 'Open sans';
	font-style: normal;
}

.m-footer .m-title i
{
	font-style: italic;
}

.m-footer div,
.m-err div
{
	width: auto;
	margin-bottom: 0;
	padding: 0;
	border: none;
	background: transparent;
}

.m-err
{
	width: 100%;
	background: #df3e3e !important;
	color: #fff;
}

.m-err .large
{
	font-size: 50px;
}

.m-err a,
.m-err a:visited,
.m-err a:hover,
.m-err a:active
{
	color: #fff;
	text-decoration: underline;
}

.m-err a:hover,
.m-err a:active
{
	text-decoration: none;
}


.m-btn,
div.m-btn,
.m-wrapper .m-btn
{
	display: table;
	min-width: 75px;
	height: 24px;
	padding: 8px;
	background: #2196f3;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	color: #fff;
	text-decoration: none;
	line-height: 24px;
	cursor: pointer;
}

button.m-btn
{
	display: inline-table;
	box-sizing: content-box;
	margin-right: 30px;
	border: none;
	cursor: pointer;
}

a.m-btn
{
	color: #fff;
	text-decoration: none;
}

.m-btn:hover
{
	background: #2171F3;
}

.m-btn:active,
.m-btn:focus
{
	background: #2160F3;
}

.m-btn.m-login
{
	text-align: center;
	position: relative;
	margin: 0 auto;
}

button.m-btn.m-login
{
	display: block;
	height: 40px;
}

.m-btn.m-login.g
{
	height: 24px;
	padding: 8px 8px 8px 34px;
	background-image: url('https://lh3.googleusercontent.com/EkW57itAgiKZhlefHFw2W6ByyHEELvVD8vseb-KbZnTbMJbAkrzoRtsQLIFA0mKDEISmQFz7mJxB-Aito7FLjVg3=s18');
	background-position: 8px 11px;
	background-repeat: no-repeat;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}

#yt-player
{
	display: table;
	margin: 0 auto;
}

.m-modal
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .3;
	transform: scale(0);
	transition: transform ease .5s;
	z-index: 100;
}

.m-modal[data-mgame="visible"]
{
	transform: scale(1);
}

.m-popup
{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 250px;
	max-width: 600px;
	min-height: 50px;
	max-height: 80%;
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	word-wrap: break-word;
	transform: scale(0);
	transition: transform ease .5s;
	z-index: 101;
}

.m-popup[data-mgame="visible"]
{
	transform: scale(1);
}

.m-popup .title
{
	font-family: "Open sans";
	font-size: 18px;
	text-align: center;
	margin: 0 0 5px 0;
}

.m-popup .content
{
	overflow-y: auto;
}

.m-popup .content::-webkit-scrollbar,
.m-game .trivia .question blockquote::-webkit-scrollbar,
.m-arr article pre::-webkit-scrollbar
{
	width: 4px;
	height: 4px;
}

.m-popup .content::-webkit-scrollbar-thumb,
.m-game .trivia .question blockquote::-webkit-scrollbar-thumb,
.m-arr article pre::-webkit-scrollbar-thumb
{
	background: rgba(0,0,0,.26);
}

.m-popup ul.invlist
{
	list-style: none;
	padding: 0;
	margin: 0;
}

.m-popup ul.invlist li
{
	padding: 0 0 3px 0;
}

.m-popup .centered
{
	display: table;
	min-width: 50px;
	margin: 0 auto;
}

div.hidden,
div.m-btn.hidden,
span.hidden,
blockquote.hidden,
.hidden
{
	display: none;
}

pre.m-code
{
	display: none;
}
