@charset "UTF-8";

@font-face
{
	font-family: 'Open sans';
	src: url('/assets/fonts/OpenSans/OpenSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Open sans';
	src: url('/assets/fonts/OpenSans/OpenSans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

body
{
	background: #f1f1f1;
}

.m-header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: #7100ab;
	color: #fff;
}

.m-header .m-title
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 49px 0;
	font-family: 'Open sans';
	font-size: 75px;
	transform: translateY(-200%);
	text-align: center;
}

.m-header .m-title i
{
	font-style: italic;
}

.m-header canvas
{
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.m-wrapper
{
	width: 97.5%;
	margin: 225px 1.25% 0 1.25%;
}

.m-wrapper div,
.m-wrapper footer
{
	width: 97.5%;
	margin-bottom: 25px;
	padding: 15px 1.25%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
}

.m-game
{
	height: 575px;
}

.m-game div
{
	width: auto;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
}

.m-game canvas
{
	width: 100%;
	height: 100%;
}

.m-footer
{
	margin: 0 !important;
	text-align: center;
	color: #666;
}

.m-footer a,
.m-footer a:visited
{
	color: #666;
	text-decoration: underline;
}

.m-footer a:hover,
.m-footer a:active
{
	text-decoration: none;
}

.m-footer a:active
{
	color: #333;
}

.m-footer div
{
	width: auto;
	margin-bottom: 0;
	padding: 0;
	border: none;
	background: transparent;
}
