@charset "UTF-8";

@font-face
{
	font-family: 'Open sans';
	src: url('/assets/fonts/OpenSans/OpenSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Open sans';
	src: url('/assets/fonts/OpenSans/OpenSans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face
{
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto/Roboto-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

body
{
	background: #f1f1f1;
	font-family: 'Arial';
}

.m-header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: #7100ab;
	color: #fff;
}

.m-header .m-title
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 49px 0;
	font-family: 'Open sans';
	font-size: 75px;
	transform: translateY(-200%);
	text-align: center;
}

.m-header .m-title i
{
	font-style: italic;
}

.m-header canvas
{
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.m-wrapper
{
	width: 97.5%;
	margin: 220px 1.25% 0 1.25%;
}

.m-wrapper div,
.m-wrapper footer
{
	width: 97.5%;
	margin-bottom: 20px;
	padding: 15px 1.25%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
}

.m-game
{
	height: 575px;
}

.m-game div
{
	width: auto;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
}

.m-game canvas
{
	width: 100%;
	height: 100%;
}

.m-footer
{
	margin: 0 !important;
	text-align: center;
	color: #666;
}

.m-footer a,
.m-footer a:visited
{
	color: #666;
	text-decoration: underline;
}

.m-footer a:hover,
.m-footer a:active
{
	text-decoration: none;
}

.m-footer a:active
{
	color: #333;
}

.m-footer div,
.m-err div
{
	width: auto;
	margin-bottom: 0;
	padding: 0;
	border: none;
	background: transparent;
}

.m-err
{
	width: 100%;
	background: #df3e3e !important;
	color: #fff;
}

.m-err .large
{
	font-size: 50px;
}

.m-err a,
.m-err a:visited,
.m-err a:hover,
.m-err a:active
{
	color: #fff;
	text-decoration: underline;
}

.m-err a:hover,
.m-err a:active
{
	text-decoration: none;
}


.m-btn
{
	display: table;
	min-width: 75px;
	padding: 10px;
	background: #2196f3;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	color: #fff;
	text-decoration: none;
}

.m-btn:hover
{
	background: #2171F3;
}

.m-btn:active,
.m-btn:focus
{
	background: #2160F3;
}

.m-btn.m-login
{
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.m-btn.m-login.g
{
	height: 24px;
	padding: 8px 8px 8px 34px;
	background-image: url('https://lh3.googleusercontent.com/EkW57itAgiKZhlefHFw2W6ByyHEELvVD8vseb-KbZnTbMJbAkrzoRtsQLIFA0mKDEISmQFz7mJxB-Aito7FLjVg3=s18');
	background-position: 8px 11px;
	background-repeat: no-repeat;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}
